<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Summary</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        h2 {
            border-bottom: 2px solid #555;
            padding-bottom: 10px;
            color: #555;
        }
        .section {
            margin: 20px 0;
            padding: 15px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .total-count {
            font-size: 1.2em;
            font-weight: bold;
            color: #555;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Email Summary</h1>

    <!-- Important Emails Section -->
    <div class="section">
        <h2>Important Emails Overview</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email Address</th>
                    <th>Reason for Importance</th>
                </tr>
            </thead>
            <tbody>
                {% for email in important %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ email.email }}</td>
                    <td>{{ email.resume }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Appointments Section -->
    <div class="section">
        <h2>Appointments</h2>
        <table>
            <thead>
                <tr>
                    <th>Email ID</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ appointment.email }}</td>
                    <td>{{ appointment.type }}</td>
                    <td>{{ appointment.resume }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Total Emails Section -->
    <div class="section">
        <h2>Total Emails</h2>
        <p class="total-count">Total number: {{ total_emails }} emails</p>
    </div>
</div>

</body>
</html>
